@use "sass:color";
@use "./variables" as *;

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $bg-color;

  .title {
    font-family: "Silkscreen", cursive;
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    text-shadow: 0 0 5px $accent-color, 0 0 10px $accent-color,
      0 0 15px $accent-color;
    transition: color 0.2s;

    &:hover {
      color: $accent-color;
      text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px $hover-accent-color;
    }
  }

  form {
    font-family: "Tomorrow", sans-serif;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    background-color: $bg-color;
    padding: 2rem;
    max-width: 400px;
    width: 100%;

    input {
      width: 100%;
      padding: 0.75rem 1rem;
      margin: 1rem;
      font-size: 1rem;
      border: 2px dashed $border-color;
      border-radius: 0.5rem;
      background: $input-bg;
      color: $text-color;
      transition: border-color 0.2s, background 0.2s;

      &:focus {
        outline: none;
        border-color: $accent-color;
        background-color: color.adjust($input-bg, $lightness: 5%);
      }
    }

    button {
      margin-top: 2rem;
      padding: 0.75rem 1.5rem;
      font-family: "Silkscreen", cursive;
      font-size: 1rem;
      background-color: $accent-color;
      color: white;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: background 0.2s ease;

      &:hover {
        background-color: $hover-accent-color;
      }

      &:active {
        background-color: $active-accent-color;
      }
    }

    .error {
      margin-top: 0.5rem;
      color: $error-color;
      font-family: "Silkscreen", cursive;
      font-size: 0.875rem;
    }
  }

  .link {
    font-family: "Silkscreen", cursive;
    font-size: 1.2rem;
    color: $accent-color;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: $hover-accent-color;
      text-decoration: underline;
    }

    &:active {
      color: $active-accent-color;
    }
  }
}
