.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;

  .center-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 600px) {
  .navbar-container {
    align-items: center;
    .left-content {
      font-size: 1.5rem;
    }
    .center-content {
      order: -1;
      position: relative;
      left: 0;
      transform: translateX(0);
    }
  }
}
