.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
  gap: 1rem;

  .product-card {
    position: relative;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: 3px dashed white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    .product-heart-button {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      background: transparent;
      border: none;
      padding: 0;
      z-index: 10;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.9);
      }

      .product-heart {
        display: block;
      }
    }

    .product-title {
      text-align: center;
    }

    .product-price {
      text-align: center;
      text-shadow: lightsalmon;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .product-list {
    margin: 2rem 0;
  }
}
