.product-card {
  position: relative;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  border: 3px dashed white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  .product-heart-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    z-index: 9;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }

    .product-heart {
      display: block;
    }
  }

  .product-title {
    text-align: center;
  }

  .product-price {
    text-align: center;
    text-shadow: lightsalmon;
    font-size: 1.5rem;
  }

  .button {
    display: flex;
    width: 200px;
    font-size: 1rem;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    padding: 0.75rem;
    background-color: #ff007a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #f6308f;
    }
    &:active {
      background-color: #d00768;
    }
    &:disabled {
      background-color: #d782df;
      cursor: not-allowed;
    }
    &:focus {
      outline: none;
    }
  }

  .isInCart {
    width: 250px;
  }
}
