.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem 0;
  gap: 1rem;

  .product-card {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: 3px dashed white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    .product-title {
      text-align: center;
    }

    .product-price {
      text-align: center;
      text-shadow: lightsalmon;
      font-size: 1.5rem;
    }
  }
}
