.product-list {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  gap: 1rem;
}

.status {
  text-align: center;
  margin-top: 150px;
  font-size: 1.5rem;
}
