.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 80px;
  z-index: 10;
  background-color: #0e0e0e;
  min-height: 100px;

  .search-box {
    display: flex;
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .search-input {
      width: 100%;
      padding: 0.5rem;
      border: 2px solid #ccc;
      border-radius: 4px 0 0 4px;
    }

    .search-button {
      padding: 0.5rem;
      border: 2px solid #ccc;
      border-left: none;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
    }
  }

  .category-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 1rem;
    width: 300px;
    text-align: center;

    button {
      padding: 0.5rem;
      border: 2px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
      margin: 0.25rem;
      background-color: #1c1c1c;
      color: white;
    }

    .category-button.active {
      background-color: #e0e0e0;
      color: black;
    }
  }
}

@media screen and (max-width: 600px) {
  .search-bar {
    min-height: 250px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    gap: 0.5rem;

    .search-box {
      position: static;
      width: 90%;
      max-width: 300px;
      transform: none;
      order: 1;
      margin-bottom: 0.5rem;
    }

    .price-filter {
      order: 2;
      width: 90%;
      max-width: 300px;

      &active {
        text-decoration: none;
      }
    }

    .category-filter {
      order: 3;
    }
  }
}

@media screen and (min-width: 1024px) {
  .search-bar {
    justify-content: space-between;
    padding: 0 2rem;
  }
}
